*{
  margin: 0;
  padding: 0;
  background-color: rgb(95, 87, 71);
}

.Header{
  text-align: center;
  color: rgb(196, 8, 8);
  font-size: 30px;
  font-family: fantasy ;
  margin-bottom: 60px;
}
.Footer{
  text-align: center;
  color: red;
  margin-top: 60px;
}
.Main{
  text-align: center;
  display: flex;
  color: red;
}
.active > h1{
  background-color: rgb(83, 29, 29);
  height: 200px;
  transition: 2s ease;
}
.confirmed > h1{
  background-color: rgb(48, 18, 75);
  height: 200px;
  transition: 2s ease;
}
.deaths > h1{
  background-color: rgb(43, 11, 71);
  height: 200px;
  transition: 2s ease;
}
.deltaconfirmed > h1{
  background-color: rgb(34, 0, 65);
  height: 200px;
  transition: 2s ease;
}
.deltadeaths > h1{
  background-color: rgb(33, 0, 61);
  height: 200px;
  transition: 2s ease;
}
.deltarecovered > h1{
  background-color: rgb(24, 0, 46);
  height: 200px;
  transition:  2s ease;
}
.recovered > h1{
  background-color: rgb(19, 1, 34);
  height: 200px;
  transition:  2s ease;
}
.time > h1{
  background-color: rgb(15, 0, 27);
  height: 200px;
  transition: 2s ease;
}
.active > h1:hover{
  background-color: rgb(167, 11, 11);
  transition: 2s ease;
}
.confirmed > h1:hover{
  background-color: rgb(54, 3, 3);
  transition: 2s ease;
}
.deaths > h1:hover{
  background-color: rgb(54, 3, 3);
  transition: 2s ease;
}
.deltaconfirmed > h1:hover{
  background-color: rgb(54, 3, 3);
  transition: 2s ease;
}
.deltadeaths > h1:hover{
  background-color: rgb(54, 3, 3);
  transition: 2s ease;
}
.deltarecovered > h1:hover{
  background-color: rgb(54, 3, 3);
  transition: 2s ease;
}
.recovered > h1:hover{
  background-color: rgb(54, 3, 3);
  transition: 2s ease;
}
.time > h1:hover{
  background-color: rgb(54,3,3);
  transition:  2s ease;
}
